/************************************************************************************************************ 
 * 2017
 * Michel Martinez
 * Pablo Diehl
 ************************************************************************************************************/



/********* BEGIN GERAL **********/

.bold {
    font-weight: bold;
}

.btn-acao {
    display: inline-block;
}

.float-right {
    float: right;
}

.mb {
    margin-bottom: 1rem;
}

.mt {
    margin-top: 1rem;
}

.navbar {
    background: magenta;
}

.tac {
    text-align: center;
}

/********* END GERAL **********/



/********* BEGIN AWESOMECOMPLETE **********/

.awesomplete {
    display: block;
    position: inherit;
}

/********* END AWESOMECOMPLETE **********/
